{
  "env": {
    "browser": true
  },
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "jsx-quotes": [2, "prefer-double"],
    "space-before-function-paren": [0]
  }
}
